.loader-wrapper {
	height: 50vw;
	min-height: 300px;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 1000;
	background: $loader-background-colour;
	display: flex;
	justify-content: center;
	align-items: center;
}