.about--wrapper {
	background: $about-wrapper-colour;
}

.about {
	max-width: $about-width;
	padding: 50px;
	min-height: $about-height;
	align-items: center;
	display: flex;
	background: $about-colour;
	color: $about-text-colour;
}

.about p {
	font-size: 22px;
	font-weight: 700;
	line-height: 32px;
}

.about h2 {
	margin-top: 0px;
}

.about p:last-child {
	text-align: right;
}

.about--link--more {
	border-bottom: 2px solid #000;
}