.buildinglist--item {
	background: #000;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.buildinglist--item:hover .buildinglist--info {
	@extend .grid--25; 
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}

.buildinglist--item:hover .buildinglist--image {
	opacity: 0.3;
}

.buildinglist--image {
	width: 25vw;
	height: 25vw;
	overflow: hidden;
}

.buildinglist--image--bg {
	min-width: 25vw;
	max-height: 25vw;
}

.buildinglist--info {
	display: none;
}

.buildinglist--info--list {
	padding: 0px;
	list-style-type: none;
	font-size: 16px;
	font-weight: 100;
	text-align: center;
	line-height: 24px;
}

.buildinglist--info--name {
	font-size: 24px;
}
