.suggestionform-wrapper {
	background: $suggestion-wrapper-colour;
	height: $suggestion-height;
}

.suggestionform {
	background: $suggestion-colour;
	height: $suggestion-height;
	width: 50vw;
	padding: 60px;
	padding-top: 8vw;
	font-size: 22px;
	float: right;
}

.suggestionform input {
	border: none;
	background: none;
	border-bottom: 3px solid #000;
	display: block;
	width: 100%;
	height: 60px;
	outline: none;
	font-size: 32px;
	color: #000;
}

.suggestionform label {
	@extend h2;
	display: block;
	margin-bottom: 5px;
}