

// colours
$navigation-colour: #222;
$suggestion-colour: #ffe521;
$footer-colour: #222;
$footer-text-colour: #fff;

$about-colour: #222;
$about-text-colour: #fff;

$loader-background-colour: #f2f2f2;