// colours
$navigation-colour: #222;
$about-colour: #eee;
$about-wrapper-colour: #222;
$about-text-colour: #222;
$suggestion-wrapper-colour: #eee;
$suggestion-colour: #ffe521;
$footer-colour: #222;
$footer-text-colour: #fff;
$loader-background-colour: #f2f2f2;

//heights and widths
$footer-height: 25vw;
$footer-width: 25vw;
$about-height: 25vw;
$about-width: 50vw;
$suggestion-height: 25vw;
$suggestion-width: 50vw;