body {
  font-family: $global-font;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
