// colors
$accent-colour: #ffe521;
$navigation-colour: #222;
$about-colour: #eee;
$about-wrapper-colour: #222;
$about-text-colour: #222;
$suggestion-wrapper-colour: #eee;
$suggestion-colour: #ffe521;
$footer-colour: #222;
$footer-text-colour: #fff;
$loader-background-colour: #f2f2f2;

// heights & widths
$footer-height: 200px;
$footer-width: 25%;
$about-height: 150px;
$about-width: 50%;
$suggestion-height: 100px;
$suggestion-width: 50%;

// fonts
$global-font: 'BlinkMacSystemFont', 'Arial', 'Helvetica-neue', 'Helvetica', sans-serif;